parameters:
    level: 8

    paths:
        - bin
        - src
        - tests

    treatPhpDocTypesAsCertain: false

    ignoreErrors:
        -
            path: src/Finder/PhpFilesFinder.php
            identifier: varTag.nativeType