parameters:
    level: max

    paths:
        - config
        - src
        - tests

    ignoreErrors:
        -
            message: '#Cannot cast array<string\>\|bool\|string\|null to string#'
            path: src/Command/DumpNodesCommand.php
